<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>In the ancient art of barbering, he wields his razor with unparalleled precision and finesse. 
          With the wisdom passed down through generations, he possesses the secrets of hair, unlocking
           its true power and allure.</p>
      </div>
      <div class="col-lg-4">
        <p>He holds a keen eye for detail, transforming hair into masterpieces. Experience warm hospitality
           and personalized attention. Step into a world of exceptional cuts, impeccable style. 
           Book your appointment today and experience the difference. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
