<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>In the ancient art of barbering, he wields his razor with unparalleled precision and finesse. 
          With the wisdom passed down through generations, he possesses the secrets of hair, unlocking
           its true power and allure.</p>
      </div>
      <div class="col-lg-4">
        <p>With a keen eye for detail, personalized attention, and impeccable style, book your appointment 
          today and experience the difference. Your hair deserves it.</p>
      </div>      
    </div>
  </div>
</section>
